/*  --- (S)CSS imports and variables setup --- */
@import "../../node_modules/modern-normalize/modern-normalize", "../../node_modules/bourbon/core/_bourbon.scss";
$bourbon: (
  "modular-scale-ratio": $minor-third,
  "modular-scale-base": 1em,
  );

/* #74277c is Churchweb’s primary colour. #b778b3 is Churchweb’s accent colour.*/
$colour-primary:        hsl(294, 52%, 32%);
$colour-primary-dark:   hsl(294, 30%, 20%);
$colour-accent:         hsl(304, 30%, 59%);
$colour-accent-light:   hsl(304, 30%, 81%);
$colour-green:          hsl(164, 90%, 27%);
$colour-blue:           hsl(215, 70%, 51%);
$colour-red:            hsl(354, 70%, 53%);
$phone-break-point:     24em;
$tablet-break-point:    48em;

/* --- Animations --- */
/*
@keyframes slide-in {
  from, 7% {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade-in {
  from, 7% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*/

/*  --- Base-style adjustments --- */
::selection {
  background: $colour-primary-dark;
  color: #fff;
}

article, aside, footer, header, main, nav, section {
  display: block;               /* Ensure HTML 5 styling */
}

html {
  -ms-text-size-adjust: 100%;     /* Disable text resizing */
  font-size: 100%;                /* Reset font-size for rem units; 16 px in most browsers */
  quotes: "‘" "’";
}
@media (min-width: 85em) {
  html {
    font-size: 112.5%;    /* 12.9" tablet/laptop break point, 18px in most browsers */
  }
}

body {
  font-synthesis: none;           /* Disable generated fonts */
  font-variant: normal;           /* Enforce ligatures */
  font-kerning: auto;             /* Enforce UA-determined kerning */
  font-family: $font-stack-system;
  line-height: 1.45;
  color: $colour-primary-dark;
  background-color: #fff;
  animation-name: slide-in;
  animation-duration: 1.07s;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 36em; /*  Accommodate for 1em spacing on each side  */
  box-sizing: content-box;
}
@media (prefers-reduced-motion) {
  body {
    animation-name: fade-in;
    animation-duration: 1.28s;
  }
}

a {
  color: $colour-primary;
  text-decoration: underline;
  hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $colour-primary;
  font-weight: 600;
  line-height: $major-third;
  margin: 0;
  hyphens: none;
}
h1, .h1 {
  font-size: modular-scale(3);
}
h2, .h2 {
  font-size: modular-scale(2);
}
h3, .h3 {
  font-size: modular-scale(1);
}
h4, .h4 {
  font-size: modular-scale(0);
}
h5, .h5 {
  font-size: modular-scale(-1);
}
h6, .h6 {
  font-size: modular-scale(-2);
}

.p {
  font-size: modular-scale(0);
}

header {
  & > h1 {
    padding: 1.5rem .2rem .2rem;
  }
  & > h2 {
    padding: 1rem;
  }
  & > hr {
    margin: 0;
    border-top: 0;
    border-bottom: 2px solid $colour-accent;
  }
}

#header-description {
  padding: .2rem .2rem 1.5rem;
  margin: 0;
}

section {
  padding: 1.5rem 0 0;
}
aside {
  padding: 1.5rem .5rem 0;
}

footer {
  text-align: center;
  font-size: modular-scale(-1);
  line-height: $major-third;
  & > p:first-child {
    margin-top: 1.5rem;
  }
}

.summary {
  border: 2px solid $colour-accent;
  & section {
    padding: 0;
    border-top: 2px solid $colour-accent;
    & > p {
      padding: 1rem;
      margin: 0;
    }
    & > p + p {
      padding-top: 0;
    }
    & > details {
      padding: 0 1rem 1rem;
      & > ul {
        margin: 0;
        padding-top: 0.5rem;
      }
    }
  }
  &.available {
    border-color: $colour-green;
    & > h2 {
      color: $colour-green;
    }
    & > section {
      border-color: $colour-green;
    }
  }
  &.maintenance {
    border-color: $colour-blue;
    & > h2 {
      color: $colour-blue;
    }
    & > section {
      border-color: $colour-blue;
    }
  }
  &.outage {
    border-color: $colour-red;
    & > h2 {
      color: $colour-red;
    }
    & > section {
      border-color: $colour-red;
    }
  }
}
.detail {
    line-height: $major-second;
    border-top: 1px solid $colour-accent;
    border-left: 1px solid $colour-accent;
    border-right: 1px solid $colour-accent;
    padding: 1rem;
  &:last-child {
    border-bottom: 1px solid $colour-accent;
  }
  & > span {
    float: right;
  }
  &.available > span {
    color: $colour-green;
  }
  &.maintenance > span {
    color: $colour-blue;
    font-weight: bold;
  }
  &.outage > span {
    color: $colour-red;
    font-weight: bold;
  }
  &.maintenance--recent > span {
    color: $colour-green;
    font-weight: bold;
  }
  &.outage--recent > span {
    color: $colour-green;
    font-weight: bold;
  }
}
@media (max-width: 38em) {  /*  body max-width + 2em  */
  .status .summary > div > span {
    float: none;
    display: block;
  }
}

aside {
  & > ul {
    max-height: 18rem;
    overflow-y: scroll;
  }
  & > ul > li:not(:last-child) {
    margin-bottom: 1rem;
  }
  & > ul > li > p:first-child {
    margin-top: 0;
  }
}

.phone {
  color: hsl(131, 60%, 32%);
  white-space: nowrap;
}
#favicon {
  height: modular-scale(1) * $major-third;
  width: (modular-scale(1) * $major-third) * 0.67;
}

